# Временные папки и кэш Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Файлы и кэш Visual Studio / Rider / VS Code
.vs/
.vsconfig
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Конфиги операционных систем
.DS_Store
Thumbs.db